/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background-color: #333435;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    text-align: center;
}
.btn {
    margin-bottom: auto;
    align-self: center;
    border: 1px solid #00E676;
    color: #00E676;
}
.btn:hover{
    color:#f1f2eb;
    background-color:#00E676;
}

div{
    justify-content:center;
    text-align:center;
    display:inline-block;
}

h1{
    color:#f1f2eb;
}

label {
    font-size: 18px;
    color: #00E676;
    clear: both;
    float: left;
    margin-right: 16px;
    margin-left: 16px;
}

input {
    margin-top: 10px;
    margin-left: 16px;

}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 100%;
    align-items:center;
}

.logo-WS{
   max-width: 30%;
   min-width: 20%; 

}

.navbar-brand {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.logo-nav{
    max-width:100%;
}

.bg-g2g{
    background-color:#4f5357;
}

a.navbar-brand {
    max-width: 72px;
    max-height: 72px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
